

*{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}


html, body {
    background-color: beige;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 0px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#imglogo{
    width: 60%;
}

.nav-link{
    margin-left: 20px ;
}

main{
    padding-top: 0px;
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

#app{
    width: 100%;
    background-color: beige;
}


.login{
    margin-top: 100px;
}



/* ADMIN */
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    .admin-m
    {
        color: rgb(72, 216, 72);
    }

    .admin-e
    {
        color: rgb(216, 72, 72);
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 

    }


/* agregar admin */

.container-a{
    overflow: hidden;
    margin: 5% 0;
}


input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  
input[type=file], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  
  button{
    background-color: rgb(89, 53, 206);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    background-color: rgb(192, 60, 60);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  
 #publicar:hover {
    background-color: rgb(58, 16, 195);
  }
  
  .container-a {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .direccion{
      background-color: #f2f2f2;
      padding: 12px;
  }

  iframe{
      padding: 12px;
  }

  p{
      margin-bottom: 0;
  }
  
  h4{
    margin-bottom: 15px;
  }

  .alejar{
      margin-top: 30px;
  }

  a{
      color: rgb(104, 101, 101)
  }

  span{
      padding-right: 4px;
  }


@media only screen and (min-width: 589px) {
    
 .container-a{
     margin-left: 3%;
     width: 94%;
 }

}


 @media only screen and (min-width: 1024px) {

    .flex{
        display: flex;
    }

    .container-a{
        width: 80%;

    }


    .alejar{
        margin-top: 20%;
    }

    input[type=reset]:hover {
        background-color: rgb(151, 47, 47);
      }

      
.cateegoria{
    width: 40%;
}

 }
 
 /* /agregar admin */




 /* HOME PRINCIPAL */

 .contenido-home{
     width: 90%;
     margin: 0 auto;
    }


.banner{
    margin-top: 50px;
    position: relative;
    top: 60px;
    z-index: 1;
    }

#banner{
    width: 100%;
 }



 .principal-home img{
    width: 100%;
 }

 .principal-home p{
   font-size: x-small;
   text-align: center;
 }

 .principal-home h5{
     display: inline;
  }

  #ladoD{
      width: 100%;
  }

  #ladoI h4{
      padding: 10px 0;
    border-bottom: 1px solid black;
  }

  #ladoI img{
   border-radius: 50%;
   width: 70%;
   margin: 0 auto;
   display: flex;
  border-bottom: 1px solid black;
  padding-top: 7%;
}


#ladoI h3, p{
    text-align: center;
    margin: 5%;
 }

 #ladoI .redes a{
    padding: 4% 5%;
    background-color: lightgrey;
    margin: 1% 4%;
 }

 #ladoI ion-icon{
    color: grey;
 }

 .redes{
    margin: 7% 20%;
 }
 .redes div{
    margin-bottom: 9%;
 }

 #ladoI h6{
     color: rgba(92, 87, 87, 0.685);;
    padding: 10px 0;
  border-bottom: 1px solid rgba(146, 141, 141, 0.685);
}



  /*prueba */
  html {
    background: #f5f7f8;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
}
header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}
.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
   }
}
@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
   }
}
.card-home {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 400px;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.card-home:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card-home article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-home h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
.card-home p {
    flex: 1;
    line-height: 1.4;
}
.card-home span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}
.card-home .thumb {
    background-size: cover;
    background-position: center center;
}

@media (min-width: 60em) {
    .item-1 {
        grid-column: 1 / span 2;
   }
    .item-1 h1 {
        font-size: 24px;
   }
   #tarjeta{
    padding-bottom: 60%;
}

.principal-home {
    margin-top: 20px;
    overflow: hidden;
}

#ladoD{
    width: 80%;
    float: left;
}

#ladoI{
    width: 20%;
    float: left;
}
}


  /*  */


 




 @media only screen and (min-width: 764px) {

    #bienvenido{
        width: 100%;
        color: #f1f1f1;
        position: absolute;
        top: 64%;
        left: 0px;
        background-color: rgba(209, 168, 34, 0.5);
        padding: 1% 0;
        padding-left: 20%;
    }

    .principal-home {
        margin-top: 60px;;
    }

    .navbar-brand{
        width: 20%;
        margin-right: 0px;
    }



}


 @media only screen and (min-width: 1024px) {

 #bienvenido{
    width: 100%;
     color: #f1f1f1;
     position: absolute;
     top: 64%;
     left: 0px;
     background-color: rgba(209, 168, 34, 0.5);
     padding: 3% 0;
     padding-left: 33%;
 }

 .principal-home {
    margin-top: 100px;;
}

.principal-home p{
    font-size: small;

}

a:hover{
    color: rgb(110, 92, 92);
}

}
 /* /HOME PRINCIPAL */


  /* /HOME CATEGORIAS */
  *, *::before, *::after {
    box-sizing: border-box;
}
html {
    background-color: #f0f0f0;
}
body {
    color: #999999;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
}
.btn--block {
    display: block;
    width: 100%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}
.cards__item {
    display: flex;
    padding: 1rem;
}
@media (min-width: 40rem) {
    .cards__item {
        width: 50%;
   }
}
@media (min-width: 56rem) {
    .cards__item {
        width: 33.3333%;
   }
}
.card-cat {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}
.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
@media (min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
   }
}
.card__image--flowers {
    background-image: url(https://unsplash.it/800/600?image=82);
}
.card__image--river {
    background-image: url(https://mochilerosentailandia.com/wp-content/uploads/2015/08/where-travel-insurance-ends.jpg);
}
.card__image--record {
    background-image: url(https://unsplash.it/800/600?image=39);
}
.card__image--fence {
    background-image: url(https://source.unsplash.com/random/?travel);
}
.card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}
.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

   /* /HOME CATEGORIAS */


   html, body{
    background-color: beige;
   }


      /* /HOME POSTEOS CATEGORIAS */
      @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
      @import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
      
      *{
        box-sizing: border-box;
      }

      
 
      
      .cards {
          width: 100%;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          -webkit-justify-content: center;
          overflow: hidden;
      }
      

      .cards__item{
        display: flex;
        justify-content: center;
      }
      
      .card__like {
          width: 18px;
      }
      
      .card__clock {
          width: 15px;
        vertical-align: middle;
          fill: #AD7D52;
      }
      .card__time {
          font-size: 12px;
          color: #AD7D52;
          vertical-align: middle;
          margin-left: 5px;
      }
      
      .card__clock-info {
          float: right;
      }
      
      .card__img {
        visibility: hidden;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 235px;
        border-top-left-radius: 12px;
      border-top-right-radius: 12px;
        
      }
      
      .card__info-hover {
          position: absolute;
          padding: 16px;
        width: 100%;
        opacity: 0;
        top: 0;
      }
      
      .card__img--hover {
        transition: 0.2s all ease-out;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
        position: absolute;
          height: 235px;
        border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      top: 0;
        
      }
      .card {
        z-index: 1;
        margin-top: 5%;
        margin-right: 25px;
        transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
        background-color: #fff;
          width: 50%;
        border-radius: 12px;
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
        float: left;
      }
      .card:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
          transform: scale(1.10, 1.10);
      }
      
      .card__info {
      z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
         padding: 16px 24px 24px 24px;
      }
      
      .card__category {
          font-family: 'Raleway', sans-serif;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 2px;
          font-weight: 500;
        color: #868686;
      }
      
      .card__title {
          margin-top: 5px;
          margin-bottom: 10px;
          font-family: 'Roboto Slab', serif;
      }
      
      .card__by {
          font-size: 12px;
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
      }
      
      .card__author {
          font-weight: 600;
          text-decoration: none;
          color: #AD7D52;
      }
      
      .card:hover .card__img--hover {
          height: 100%;
          opacity: 0.3;
      }
      
      .card:hover .card__info {
          background-color: transparent;
          position: relative;
      }
      
      .card:hover .card__info-hover {
          opacity: 1;
      }

      .post-img{
        height: 63%;
        border-radius: 2%;
      }
      


         /* /HOME POSTEOS CATEGORIAS */



         /* /HOME POSTEOS posteo especifico */

         .elpost{
             margin-top: 15%;
         }

         .elpost h1 {
             color: whitesmoke;
             background-color: rgb(150, 138, 138);
         }

         @media (min-width: 1024px) {
            .elpost{
                margin-top: 4%;
            }

            .elpost h1 {
                padding: 4% 1%;
            }

            .elpost p{
                color: rgb(102, 100, 100);
            }

            .elpost img{
                margin-top: 2%;
                width: auto;   
                margin: auto;
                display: flex;
            }
        }

         /* /HOME POSTEOS posteo especifico */



         /*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}
.elp{
    text-align: initial;
    margin-left: 0px;
}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright .elp {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;  text-align: initial;}
.widget li a{	color: #ff8d1e;  text-align: initial;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light .elp,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}


